@media(max-width:1225px){
    .section-one{
        flex-direction: column;
    }
    .banner-img{
        max-width: 1225px;
        width: 100%;
    }
}

@media(max-width:1156px){
    .sectionTwo-block{
        flex-direction: column;
        align-items: center;
    }
    .sectionTwo-div{
        max-width: 600px;
        width: 100%;
        margin-top: 20px;
    }
    .section-title-div{
        max-width: 600px;
    }
    .sectionThree-block{
        flex-direction: column;
        align-items: center;
    }
    .sectionThree-right-div{
        max-width: 1160px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionThree-div{
        max-width: 600px;
        width: 100%;
        margin-top: 20px;
    }


    /* page 2 */
    .p2section-one{
        max-width: 580px;
        width: 100%;
        flex-direction: column;
        margin: 0 auto; 
    }
    .p2section-two{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}

/* tablet */
@media(max-width: 768px){
    .banner-side{
        display: flex;
    }
    .sectionTwo-block{
        display: flex;
        flex-direction: row;
    }
    .sectionTwo-div{
        width: 100%;
        margin: 15px;
        padding: 10px;
    }
    .sectionTwo-div:nth-child(3){
        display: none;
    }
    .sectionThree-block{
        max-width: 680px;
        width: 100%;
    }
    .sectionThree-right-div{
        display: flex;
        flex-direction: row;      
    }
    .sectionThree-div{
        width: 100%;
        margin: 15px;
    }
    .sectionThree-div:nth-child(3){
        display: none;
    }
    .footer-div{
        padding: 50px;
    }
    /* page 2 */
    .p2section-two{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    .p2section-three{
        padding: 20px;
    }
}


@media(max-width:650px){
    .nav-block{
        display: none;
    }
    .burger-bar{
        display: block;
        margin-right: 15px;
        align-items: center;
    }
    .nav-block.activeNavigation {
        display: block;
    }
    .header-block{
        flex-direction: column;
    }
    .nav-ul{
        margin-top: 30px;
        flex-direction: column;  
        align-items: flex-start;  
    }
    .nav-li{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header-block{
        padding: 13px 0px;
    }
    .burger-child.middle{
        display: none;  
    }
    .burger-child.top{
        transform: rotate(-45deg) translate(-7px, 2px);
        transition: 0.3s linear;
    }
    .burger-child.bottom{
        transform: rotate(45deg) translate(-3px, 1px);
        transition: 0.3s linear;
    } 
}

@media(max-width: 580px){
    .ul-div{
        flex-direction: column;
    }
    .banner-text{
        padding: 20px;
    }
    .p2banner-text{
        padding: 20px;
    }
}


/* mobile */
@media(max-width: 580px){
    .banner-side{
        flex-direction: column;
    }
    .arrows{
        max-width: 40px;
    }
    .sectionTwo-block{
        flex-direction: column;
    }
    .section-three{
        padding: 10px;
    }
    .left-div-title{
        margin-bottom: 50px;
    }
    .left-img{
        height: 300px;
        object-fit: cover;
    }
    .left-div-text{
        bottom: 12px;
    }
    .sectionThree-right-div{
        flex-direction: column;
    }
    .sectionThree-div:nth-child(3){
        display: block;
    }

    /* page 2  */
    .p2section-text{
        flex-direction: column;
        align-items: flex-start;
    }
    .p2section-div{
        margin-top: 25px;
    }
}

@media(max-width: 400px){
    .header-block{
        max-width: 275px;
        width: 100%;
        border-bottom-right-radius: 7px;
        flex-direction: column;
        padding-bottom: 0;
        
    }
    .footer-info-block,
    .icon-menu{
        display: block;
    }
    .footer-info-block{
        padding-bottom: 15px;
    }
    .nav-block{
        border-radius: 20px;
    }
    .logo-div{
        margin-bottom: 15px;
    }
    .nav-ul{
        padding-left: 20px;
    }
    .nav-li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon-menu{
        margin-right: 5px;
        color: #707070;
    }
    .numbers{
        display: flex;
        margin-bottom: 50px;
    }
    .footer{
        display: none;
    }
    /* .header-block{
        box-shadow: 100px 0px 15px rgba(0, 0, 0, 0.436);
    } */
}





