body{
    background-color: #F6F8F9;
    font-family: 'Roboto';
}
/* header */
.a-logo{
    color: #FA6980;
}
.header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 900;
    padding: 20px;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; */
}
.li-a{
    color: #707070;
}
.active{
    color: #343638;
}
.nav-block{
    max-width: 450px;
    width: 100%;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Section One */
.section-one{
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
}
.line{
    margin: 40px 0px;
    border: 1px solid #EBEDED;
    background-color: #EBEDED;
}
.banner-img{
   background-image: url("../img/banner.png");
   max-width: 830px;
   width: 100%;
   height: 706px;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative; 
}
/*  */
.banner-text{
    max-width: 600px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    padding-right: 50px;
}
.p-text{
    margin: 16px 0px;
    line-height: 25px;
}
.banner-title{
    font-size: 24px;
    font-weight: 900;
}
.banner-button{
    max-width: 150px;
    width: 100%;
    border: none;
    background-color: #FA6980;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

/* section One text style */
.sectionOne-div{
    padding: 80px;
    background-color: white;
}
.sectionOne-title-div{
    display: flex;
    justify-content: space-between;
}
.sectionOne-title{
    font-size: 24px;
    font-weight: 900;
}
.h3-title{
    color: #FA6980;
    margin: 30px 0;
    font-size: 16px;
    font-weight: 800;
}
.h4-title{
    color: #202124;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: 800;
}
.sectionOne-text{
    color: #A6ADB4;
}
.arrows{
    max-width: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.clock{
    display: flex;
    margin-top: 15px;
    color: #A6ADB4;
}
.img-clock{
    margin-right: 15px;
}
.grey{
    color: #A6ADB4;
}

/* section Two */
.sectionTwo-block{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sectionTwo-div,
.sectionThree-div{
    max-width: 360px;
    width: 100%;
}
.sectionTwo-text{
    padding: 40px;
    background-color: white;
    border-radius: 15px;
}
.section-title{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 900;  
}
.section-title-div{
    max-width: 1160px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 45px;
}

/* section three */
.sectionThree-left-div{
    max-width: 767px;
    width: 100%;
    position: relative;
}
.left-img{
    max-width: 767px;
    width: 100%;
}
.right-img{
    max-width: 360px;
    width: 100%;
}
.left-div-title{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #FFFFFF;
}
.left-div-text{
    position: absolute;
    bottom: 50px;
    left: 15px;
    color: #FFFFFF;
}
.title-h4{
    color: #ffffff;
    margin: 0px 0px 20px 0px;
    font-size: 24px;
    font-weight: 800;
}
.sectionThree-text{
    padding: 25px;
    border-radius: 15px;
}
.underline{
    text-decoration: underline;
}
.sectionThree-block{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sectionThree-left-div:nth-child(2){
    margin-top: 40px;
}


/* page 2 */
.p2banner-img{
    background-image: url("../img/page2-banner.png");
    max-width: 580px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
 }
 /*  */
.p2banner-text{
    max-width: 600px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    padding-right: 50px;
    text-align: center;
}
.user2-image{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: 60px;
}
.p2-line{
    max-width: 40px;
    width: 100%;
    border: 2px solid #FA6980;
    border-radius: 3px;
    background-color: #FA6980;
}
.select-input{
    border: none;
    border-radius: 15px;
}
select,
input{
    max-width: 350px;
    width: 100%;
    background-color: white;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 4px;
    line-height: 2px;
    padding: 10px;
    margin: 20px 0;
    color: #9b9b9b;
}
.form-block{
    max-width: 580px;
    width: 100%;
    padding: 80px;
    background-color: white;
    font-weight: 700    ;
}
.p2section-one{
    max-width: 1160px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    margin: 0 auto;
}
.p2nav{
    display: flex;
}
.p2-icons{
    max-width: 1160px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.text-icon::before{
    content: '\e901';
    
}


